* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

.main-box {
    background: url(picss.jpg);
    height: 100vh;
    background-size: cover;

}

.btn-1 {
    color: gray;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    position: absolute;
    left: 16px;
    cursor: pointer;
}

.sidebar-menu {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(225, 225, 225, 0.2);
    box-shadow: 0 0 5px rgba(225, 225, 225, 0.5);
    transition: all 0.3s linear;
}

.sidebar-menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 3px rgba(225, 225, 225, 0.5);
    height: 60px;
}

.sidebar-menu .logo a {
    position: absolute;
    left: 50px;
    color: antiquewhite;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    text-align: center;

}

.sidebar-menu .btn-2 i {
    color: gray;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 270px;
    opacity: 0;
    cursor: pointer;
}

.sidebar-menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar-menu .menu li {
    margin: 6px;
    padding: 15px 20px;

}

.sidebar-menu .menu i,
a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.sidebar-menu .menu i {
    padding-right: 8px;
}

.sidebar-menu .social-media {
    position: absolute;
    left: 20%;
    bottom: 20px;

}

.sidebar-menu .social-media i {
    color: white;
    opacity: 0.5;
    padding-right: 8px;
}

#check {
    display: none;
}

.sidebar-menu .menu li:hover {
    box-shadow: 0 0 3px rgba(225, 225, 225, 0.5);
}

.btn-1 i:hover {
    font-size: 40px;
    transition: all 0.3s linear;
}

.btn-2 i:hover {
    font-size: 30px;
    transition: all 0.3s linear;
}

.sidebar-menu .social-media i:hover {
    opacity: 1;
    transform: scale(1.5);

}

#check:checked~.sidebar-menu {
    left: 0px;
}

/* .btn-2:checked ~ .sidebar-menu{
    left: -300px;
} */

#check:checked~.btn-1 i {
    opacity: 0;
}

#check:checked~.sidebar-menu .btn-2 i {
    opacity: 1;
}